<main class='main'>
  <div class='main_container'>
    <p class='main_container_info'>Introduce aquí tu jugada:</p>
    <select class="main_container_select js-select" name="" id="">
      <option class='main_container_select_opt' value="">Seleccione su jugada</option>
      <option class='main_container_select_opt' value="Piedra">Piedra</option>
      <option class='main_container_select_opt' value="Papel">Papel</option>
      <option class='main_container_select_opt' value="Tijera">Tijera</option>
    </select>
    <button class="main_container_go js-go">jugar</button>
  </div>
  <div class='main_result'>
    <p class="main_result_start js-result">¡ Empezamos !</p>
    <p class="main_result_gamer js-gamer">
      <img class='main_result_gamer_people' src="./assets/images/personas.png" alt="imagen personas">
    Jugador:</p>
    <p class="main_result_computer js-computer">
      <img class='main_result_computer_machine' src="./assets/images/computadora.png" alt="imagen ordenador">
    Computadora:</p>
  </div>
</main>