// fonts
$font-roboto: 'Roboto', sans-serif;
$font-arch: 'Architects Daughter', cursive;
$font-flower: 'Indie Flower', cursive;

// colors
$color-black:black;
$color-green: rgba(116, 220, 116, 0.935);
$color-peach: rgb(241, 214, 189);
$color-beige: beige;